{
    "n_epochs": 300,
    "init_lr": 0.1,
    "lr_schedule_type": "cosine",
    "lr_schedule_param": null,
    "warm_epoch": 1,
    "dataset": "cifar10",
    "train_batch_size": 256,
    "test_batch_size": 250,
    "opt_type": "sgd",
    "opt_param": {
        "momentum": 0.9,
        "nesterov": true
    },
    "weight_decay": 4e-05,
    "label_smoothing": 0.1,
    "no_decay_keys": "bn#bias",
    "model_init": "he_fout",
    "init_div_groups": false,
    "validation_frequency": 1,
    "print_frequency": 100,
    "local_rank": 0,
    "world_size": 1,
    "sync_bn": true,
    "n_worker": 24,
    "save_path": "/gdata/cifar10",
    "base_path": "Exp_base/vgg_base"
}